section {
    display: flex;
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
    background-color: firebrick;

}

section {
    display: flex;
}

aside {
    background-color: blue;
}

main {
    background-color: aqua;
}

footer {
    background-color: rgb(12, 144, 100);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav, footer {
    grid-column: span 2;
}

nav div {
    margin: 10px;
}